/*
	Theme Name: Educational Planning
	Theme URL: http://educationalplanning.wooster.edu/
	Description: The Educational Planning theme for WordPress is stylish, customizable, simple, and readable -- make it yours with a custom menu, header image, and background. Educational Planning supports six widgetized areas (two in the sidebar, four in the footer) and featured images (thumbnails for gallery posts and custom header images for posts and pages). It includes stylesheets for print and the admin Visual Editor, special styles for posts in the "Asides" and "Gallery" categories, and has an optional one-column page template that removes the sidebar.
	Author: Jon Breitenbucher
	Author URI: http://jon.breitenbuhcer.net/
	
	Version: 1.0
	
		Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style
	
	Template: twentyten
	Template Version: 1.0
	
	License: GNU General Public License v2.0
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

@import url('../twentyten/style.css');
@import url('3c-fixed.css');
#access{overflow: visible;}
#main{clear: both;}
.network-home{font-size:  20px; margin: 0 10px 0 0; padding: 0 0 10px 0;}